<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write</title>
</head>
<body>
<form action="/save" method="post" enctype="multipart/form-data">
  작성자 <input type="text" name="userName">
  비밀번호 <input type="password" name="password">
  <br>
  <br>
  <input type="text" name="title" placeholder="제목을 입력해주세요">
  <br>
  <br>
  <textarea name="content" placeholder="글을 작성해 주세요" style="width: 50%"></textarea>
  <br>
  <input value="저장" type="submit"/>
</form>


</body>
</html>